<div class="row">
  <div class="col-md-offset-1 col-md-5 todo-status-box">
    <div class="header-box">
      <h3 class="text-center">Completed Todos This Week</h3>
    </div>
    <h1 class="text-center green">15</h1>
  </div>
  <div class="col-md-5 todo-status-box">
    <div class="header-box">
      <h3 class="text-center">Incompleted Todos This Week</h3>
    </div>
    <h1 class="text-center red">4</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-5 todo-status-box">
    <div class="header-box">
      <h3 class="text-center">Completed Todos This Month</h3>
    </div>
    <h1 class="text-center green">90</h1>
  </div>
  <div class="col-md-5 todo-status-box">
    <div class="header-box">
      <h3 class="text-center">Incompleted Todos This Month</h3>
    </div>
    <h1 class="text-center red">20</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-5 todo-status-box">
    <div class="header-box">
      <h3 class="text-center">Completed Todos</h3>
    </div>
    <h1 class="text-center green">90</h1>
  </div>
  <div class="col-md-5 todo-status-box">
    <div class="header-box">
      <h3 class="text-center">Incompleted Todos</h3>
    </div>
    <h1 class="text-center red">20</h1>
  </div>
</div>