<div class="home_box">
<h1 class="text-center" style="color: whitesmoke; text-shadow: 1px 1px grey;">Welcome to Get Stuff Done</h1>
<h3 class="text-center home_text">Please <%= link_to "sign up", new_user_registration_path %> to create a new account</h3>
<h3 class="text-center home_text">Please <%= link_to "log in", new_user_session_path %> to log into your account</h3>
</div>