<div class="sidebar-box">
  <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><%= link_to "Home", user_path(current_user) %></li>
      <li role="presentation"><a href="#">List Todos</a></li>
      <li role="presentation"><%= link_to "Create A Todo", new_user_action_item_path(current_user) %></li>
  </ul>
</div> <!-- end sidebar-box -->